<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% comment %}
      =======================
      The purpose of this snippet is to list all the tags you have in your site.
      =======================
      {% endcomment %}
      {% for tag in tags %}
        <a href="#{{ tag | slugify }}"> {{ tag }} </a>
      {% endfor %}

      {% comment %}
      =======================
      The purpose of this snippet is to list all your posts posted with a certain tag.
      =======================
      {% endcomment %}
      {% for tag in tags %}
        <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
        <ul>
         {% for post in site.posts %}
           {% if post.tags contains tag %}
           <li>
           <h3>
           <a href="{{ post.url }}">
           {{ post.title }}
           <small>{{ post.date | date_to_string }}</small>
           </a>
           {% for tag in post.tags %}
             <a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
           {% endfor %}
           </h3>
           </li>
           {% endif %}
         {% endfor %}
        </ul>
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
